/* RESETS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
  color: #777777;
  height:100%;
}

html {
  height: 100%;
}

img {
  max-width: 100%;
}

.wrapper {
  height:100%;
}

/* GLOBAL */

/* NAVBAR */

.container-fluid-kw {
  padding-right: 6.5%;
  padding-left: 3.75%;
}

.navbar-kw {
  border: 1px solid #cccccc;
  background: #ffffff;
  margin: 0;
  padding: 0;
}

.navbar-header-kw {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #4aaaa5;
  
}

.header-kw {
  font-family: "Georgia", "Times New Roman", Times, serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
  color: #ffffff;
}

.a-header-kw {
  font-family: "Georgia", "Times New Roman", Times, serif;
  text-align: center;
  font-weight: bold;
  font-size: 32px;
  color: #ffffff;
  
}

.nav li {
  display:table-cell !important;
}

  


.navbar-right-kw {
  margin-top: 40px;
 
  
  
  
}

.a-navbar-kw {
  color: #cccccc;
  font-weight: lighter;
  font-size: 14px;
  line-height:1.5px !important;
  
 
}

.a-navbar-border {
  border-left: 1px solid #f2f2f2;
  
}

/* Main Content-ABOUT */

.container-kw {
  background-image: url("../images/brickwall.png");
  overflow: auto;
  height:75%;
  margin: 0 auto;
  padding-left: 5%;
  padding-right: 5%;
}

.page-header-kw {
  margin: 20px 5px;
  border: none;
}

.header2-kw {
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 28px;
  color: #4aaaa5;
  padding-bottom: 20px;
  border-bottom: 3px solid #ececec;
}

#about {
  border: 1px solid #dddddd;
  margin-top: 50px;
  margin-bottom: 25px;
  background: #ffffff;
  overflow: auto;
}

#bio-image {
  float: left; 
  margin-right: 15px;
  margin-bottom: 5px;
}

.paragraph {
  line-height: 1.5;
}

/* CONNECT WITH ME */

h4 {
  font-family: "Georgia", "Times New Roman", Times, serif;
  color: #4aaaa5;
  font-weight: bold;
  font-size: 18px;
  padding-top: 2.5px;
  padding-bottom: 7.5px;
  border-bottom: 1px solid #ececec;
}

section ul {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0px;
}

section ul li {
  font-size: 14px;
  display: inline;
  list-style: none;
  text-decoration: none;
}

.no-margin {
  margin-right: 0px;
  text-decoration: none !important;
}

.social-icon {
  width: 50px;
  height: 50px;
  margin: 0 1px;
}

#contact-info {
  width: auto;
  height: auto;
  border: 1px solid #dddddd;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 5px;
  background: #ffffff;
}

/* Footer */

footer {
  background-color: #666666;

  text-align: center;
  border-top: 10px solid #4aaaa5;
}

.copyright {
  padding-top: 2%;
  padding-bottom: 1%;
  font-size: auto;
}

.footer-kw {
  padding-left: 0;
  padding-right: 0;
  margin: 0;
  
  
}

/* Contact Page Styles */

form {
  padding-top: 20px;
}

/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: #4aaaa5;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type="submit"]:hover {
  background-color: #45a049;
}

/* Portfolio Page Styles */

.portfolio-container {
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  text-align: center;
}

.caption-kw {
  background-color: #4aaaa5;
}

.a-h3-kw {
  font-size: 22px;
  color: #ffffff;
}



@media (max-width: 768px) {
  .navbar-right-kw {
    margin-top: 10px !important;
    margin-left: calc(75% - 375px) !important;
    

   }
   .a-navbar-kw {
    
    padding-right: 50px  !important;
    padding-left: 50px !important;
  }


   .container-fluid-kw {
   padding-right: 0%;
   padding-left: 0%;
  }

@media (max-width: 640px) {
  .navbar-right-kw {
    margin-top: 10px !important;
    margin-left: calc(75% - 325px) !important;
    

  }
   .a-navbar-kw {
    
    padding-right: 40px  !important;
    padding-left: 40px !important;
  }


   .container-fluid-kw {
   padding-right: 0%;
   padding-left: 0%;
  }

@media (max-width: 540px) {
  .navbar-right-kw {
    margin-top: 10px !important;
    margin-left: 15px !important;
    

  }
   .a-navbar-kw {
    
    padding-right: 25px  !important;
    padding-left: 25px !important;
  }


  .container-fluid-kw {
  padding-right: 0%;
  padding-left: 0%;
  }
